<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать</title>
    <!-- Подключение Bootstrap CSS через CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Добро пожаловать на наш сайт Fedorchechnev.ru!</h1>
            <hr class="my-4">
            <p>Вы можете начать исследовать наш сайт и узнать больше о наших услугах и продуктах.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше</a>
        </div>
    </div>

    <!-- Подключение Bootstrap JS через CDN (необходим для работы некоторых компонентов) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
